NODE_ENV=
PORT=
MONGO_URI=
JWT_SECRET=
JWT_USER_SECRET=
JWT_ADMIN_SECRET=
JWT_EXPIRES_IN=
TRUST_PROXY_HOPS=1
FRONTEND_URL=
FRONTEND_LOCALHOST=
PAYSTACK_SECRET_KEY=
PAYSTACK_BASE_URL=
PAYSTACK_PUBLIC_KEY=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_ADMIN_CALLBACK_URL=
GOOGLE_USER_CALLBACK_URL=
VAPID_SUBJECT=
VAPID_PUBLIC_KEY=
VAPID_PRIVATE_KEY=

GMAIL_CLIENT_ID=
GMAIL_CLIENT_SECRET=
GMAIL_REFRESH_TOKEN=
GMAIL_SENDER_EMAIL=
GMAIL_SENDER_NAME=Remote Agric
